:root {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color-scheme: light dark;
  background-color: #F3F2F8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

